.container.py-5
  .row.justify-content-center
    .col-md-6
      .card.shadow
        .card-body.p-4
          %h2.text-center.mb-4 Change your password

          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = render "devise/shared/error_messages", resource: resource
            = f.hidden_field :reset_password_token

            .mb-3
              = f.label :password, "New password", class: "form-label"
              = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
              - if @minimum_password_length
                .form-text
                  #{@minimum_password_length} characters minimum

            .mb-3
              = f.label :password_confirmation, "Confirm new password", class: "form-label"
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

            .d-grid.gap-2
              = f.submit "Change my password", class: "btn btn-primary btn-lg"

          %hr.my-4

          .text-center
            = render "devise/shared/links"