.container.py-5
  .row.justify-content-center
    .col-md-6
      .card.shadow
        .card-body.p-4
          %h2.text-center.mb-4= t('.forgot_your_password')

          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource

            .mb-3
              = f.label :email, class: "form-label"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

            .d-grid.gap-2
              = f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary btn-lg"

          %hr.my-4

          .text-center
            = render "devise/shared/links"
