.container
  / Hero Section
  .p-4.p-md-5.mb-4.text-white.rounded.bg-dark
    .col-md-8.px-0
      %h1.display-4.fst-italic= t('views.home.hero.title')
      %p.lead.my-3= t('views.home.hero.description')

  / Featured Products Section
  %h2.mb-4= t('views.home.featured_products.title')
  .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
    - @featured_products.each do |product|
      .col
        .card.h-100
          = link_to product_path(product), class: "text-decoration-none" do
            - if product.main_image.attached?
              = image_tag product.main_image.variant(resize_to_fill: [300, 300]), class: "card-img-top"
            - else
              = image_tag "placeholder.png", class: "card-img-top"
          .card-body
            %h5.card-title= product.name
            %p.card-text
              = truncate(product.description, length: 100)
            .d-flex.justify-content-between.align-items-center
              %span.h5= number_to_currency(product.price)
              = button_to add_item_cart_path(product), method: :post, class: "btn btn-primary" do
                %i.bi.bi-cart-plus
                = t('views.products.add_to_cart')

  / Categories Section
  %h2.my-4= t('views.home.categories.title')
  .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
    - @categories.each do |category|
      .col
        .card.h-100
          .card-body
            %h5.card-title= category.name
            %p.card-text= t('views.home.categories.product_count', count: category.products.count)
            = link_to t('views.home.categories.view_products'), category_path(category), class: "btn btn-outline-primary"
