.container
  .row.mt-4
    .col-lg-8
      .card
        .card-header.bg-white
          %h2.h4.mb-0= t('views.cart.title')

        - if @cart_items.any?
          .card-body
            - @cart_items.each do |item|
              .row.border-bottom.py-3
                .col-md-3
                  - if item.product.main_image.attached?
                    = image_tag item.product.main_image.variant(resize_to_fill: [120, 120]), class: "img-fluid rounded"
                  - else
                    = image_tag "placeholder.png", class: "img-fluid rounded"
                .col-md-6
                  %h5= link_to item.product.name, product_path(item.product), class: "text-decoration-none"
                  %p.text-muted= truncate(item.product.description, length: 100)
                  .d-flex.align-items-center.mt-2
                    = button_to remove_item_cart_path(product_id: item.product.id), method: :delete, class: "btn btn-sm btn-outline-secondary" do
                      %i.bi.bi-dash
                    %span.mx-2= item.quantity
                    = button_to add_item_cart_path(product_id: item.product.id), method: :post, class: "btn btn-sm btn-outline-secondary" do
                      %i.bi.bi-plus
                    = button_to remove_item_cart_path(product_id: item.product.id, remove_all: true),
                              method: :delete,
                              class: "btn btn-sm btn-outline-danger ms-3",
                              data: { turbo_confirm: removed_from_cart_message } do
                      %i.bi.bi-trash
                      = t('views.cart.remove')
                .col-md-3.text-end
                  %p.h5= number_to_currency(item.total_price)
        - else
          .card-body.text-center.py-5
            %i.bi.bi-cart.display-1.text-muted
            %h3.mt-3= cart_status_message(@cart)
            %p.text-muted= t('views.cart.start_shopping')
            = link_to t('views.cart.continue_shopping'), root_path, class: "btn btn-primary mt-3"

    .col-lg-4
      - if @cart_items.any?
        .card
          .card-header.bg-white
            %h3.h5.mb-0= t('views.cart.order_summary')
          .card-body
            .d-flex.justify-content-between.mb-2
              %span= t('views.cart.items')
              %span= @cart_items.sum(&:quantity)
            .d-flex.justify-content-between.mb-2
              %span= t('views.cart.subtotal')
              %span= number_to_currency(@cart_items.sum(&:total_price))
            %hr
            .d-flex.justify-content-between.mb-3
              %span.h5= t('views.cart.total')
              %span.h5= number_to_currency(@cart_items.sum(&:total_price))

            - if user_signed_in?
              = link_to t('views.cart.proceed_to_checkout'), new_order_path, class: "btn btn-primary w-100"
            - else
              = link_to t('views.cart.sign_in_to_checkout'), new_user_session_path, class: "btn btn-primary w-100"
