.container
  .row.justify-content-center
    .col-md-8
      .card.my-4
        .card-body
          %h1.h3.mb-4= t('devise.mailer.reset_password_instructions.greeting', recipient: @resource.email)
          %p= t('devise.mailer.reset_password_instructions.instruction')
          %p= link_to t('devise.mailer.reset_password_instructions.action'),
            edit_password_url(@resource, reset_password_token: @token),
            class: "btn btn-primary"
          %hr
          %p= t('devise.mailer.reset_password_instructions.instruction_2')
          %p= t('devise.mailer.reset_password_instructions.instruction_3')
