.container
  .row.justify-content-center
    .col-md-8
      .card.my-4
        .card-body
          %h1.h3.mb-4= t('devise.mailer.unlock_instructions.greeting', recipient: @resource.email)

          %p.mb-3= t('devise.mailer.unlock_instructions.message')

          %p.mb-4= t('devise.mailer.unlock_instructions.instruction')

          .text-center.mb-4
            = link_to t('devise.mailer.unlock_instructions.action'),
                     unlock_url(@resource, unlock_token: @token),
                     class: "btn btn-primary"

          %hr.my-4

          %p.text-muted.small
            = t('devise.shared.links.back')
            %br
            = unlock_url(@resource, unlock_token: @token)
